body{
    background: #d2d2c1 url('imagens/fundo.png');
    font: 16px Arial, Helvetica, sans-serif;
}

#principal{
    width: 900px;
}

#menu{
    background: #c5c5b2;
    
    padding: 18px;
}
#conteudo {
    background: #e8e8d9;
    padding: 20px;
}

.centralizar{
    text-align: center;
}

.campanha{
    border: inset 5px #828271;
}

.contato{
    border: inset 5px #828271;
}

h3{
    color: #828271;
    font-size: 1.2em;
}

a {
color: #4b566a;
text-decoration: none;
font-weight: bold;
padding: 5px;
}